package fields

import "github.com/acaloiaro/frm/types"

// Rating renders a field as a rating field type
templ Rating(field types.FormField) {
	<div class="join">
		<input class="join-item btn" type="radio" name="options" aria-label="Radio 1"/>
		<input class="join-item btn" type="radio" name="options" aria-label="Radio 2"/>
		<input class="join-item btn" type="radio" name="options" aria-label="Radio 3"/>
	</div>
}
